<div class="container">
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1hvRAGrdq0SqFBZApx2--IcuDf-DOmOBH" alt="">
    <h4>Hello there, Sign in to continue</h4>
    <div class="alert alert-danger" *ngIf="message">
      <p>{{ message }}</p>
    </div>
    <div class="form-group">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="Email">Email</label><br>
          <input type="text" id="userName" [formControlName]="'userName'" />
          <div *ngIf="(
            loginForm.get('userName').dirty ||
            loginForm.get('userName').touched
           ) &&
           loginForm.get('userName').invalid"
              class="alert alert-danger">
              Username is invalid
          </div>
        </div>
        <div>
          <label for="Password">Password</label><br>
          <input type="password" id="password" [formControlName]="'password'" />
          <div *ngIf="(
            loginForm.get('password').dirty ||
            loginForm.get('password').touched
           ) &&
           loginForm.get('password').invalid"
              class="alert alert-danger">
              Password is invalid
          </div>
        </div>
        <div>
          <input type="checkbox" [formControlName]="'acceptTerms'"/>By creating or logging into an account, ypu are agreeing with our 
          <strong>Terms & Conditions</strong> and <strong>Privacy Policy</strong>
        </div>
        <button class="btn btn-primary" [disabled]="!loginForm.valid">Next</button>
      </form>
    </div>
  </div>
  <div class="footer">
    Signin with Company SSO
  </div>
</div>
